@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Kantumruy Pro", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: "Inter", "Kantumruy Pro", sans-serif;
  background-color: #fafafa;
  color: #18181b;
}

@utility hide-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
